apiVersion: v1
kind: Secret
metadata:
  name: ccloud-sr-credentials
  namespace: confluent
type: Opaque
stringData:
  username: "<SR_API_KEY>"
  password: "<SR_API_SECRET>"
  auth.properties: "basic.auth.user.info=<SR_API_KEY>:<SR_API_SECRET>"
