apiVersion: v1
kind: Secret
metadata:
  name: ccloud-kafka-credentials
  namespace: confluent
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
type: Opaque
stringData:
  username: <CONNECTOR_SA_KAFKA_API_KEY>
  password: <CONNECTOR_SA_KAFKA_API_SECRET>
