apiVersion: v1
kind: Secret
metadata:
  name: ccloud-sr-credentials
  namespace: confluent
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
type: Opaque
stringData:
  username: "<SR_API_KEY>"
  password: "<SR_API_SECRET>"
  basic.txt: "username=<SR_API_KEY>\npassword=<SR_API_SECRET>"
