apiVersion: v1
kind: Secret
metadata:
  name: connect-sr-key
  namespace: confluent
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
type: Opaque
stringData:
  basic.txt: "username=<SR_API_KEY>\npassword=<SR_API_SECRET>"
