apiVersion: v1
kind: Secret
metadata:
  name: connect-sr-auth
  namespace: confluent
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
type: Opaque
stringData:
  auth.properties: "basic.auth.user.info=<SR_API_KEY>:<SR_API_SECRET>"
