apiVersion: platform.confluent.io/v1beta1
kind: Connector
metadata:
  name: workday-eoi-sink
  namespace: confluent
spec:
  class: com.example.connectors.GenericHttpSinkConnector
  taskMax: 1
  connectClusterRef:
    name: standard-connect
  configs:
    topics: standard-eda-bentechdata-workday
    value.converter: io.confluent.connect.avro.AvroConverter
    value.converter.schema.registry.url: <SCHEMA_REGISTRY_URL>
    value.converter.basic.auth.credentials.source: USER_INFO
    value.converter.basic.auth.user.info: "<CONNECTOR_SA_SR_API_KEY>:<CONNECTOR_SA_SR_API_SECRET>"
    key.converter: io.confluent.connect.avro.AvroConverter
    key.converter.schema.registry.url: <SCHEMA_REGISTRY_URL>
    key.converter.basic.auth.credentials.source: USER_INFO
    key.converter.basic.auth.user.info: "<CONNECTOR_SA_SR_API_KEY>:<CONNECTOR_SA_SR_API_SECRET>"
    consumer.override.security.protocol: SASL_SSL
    consumer.override.sasl.mechanism: PLAIN
    consumer.override.sasl.jaas.config: "org.apache.kafka.common.security.plain.PlainLoginModule required username='<CONNECTOR_SA_KAFKA_API_KEY>' password='<CONNECTOR_SA_KAFKA_API_SECRET>';"
    content.type: application/xml
    secrets.base.path: /mnt/secrets
    response.topic: standard-eda-bentechdata-workday-response
    error.topic: standard-eda-bentechdata-workday-error
    dlq.topic: standard-eda-bentechdata-workday-dlq
    max.retries: "3"
    retry.backoff.ms: "1000"
    kafka.bootstrap.servers: <KAFKA_BOOTSTRAP_SERVER>
    schema.registry.url: <SCHEMA_REGISTRY_URL>
