apiVersion: platform.confluent.io/v1beta1
kind: Connector
metadata:
  name: workday-eoi-sink
  namespace: confluent
spec:
  class: com.standard.ibte.bentech.BentechSinkConnector
  taskMax: 1
  connectClusterRef:
    name: standard-connect
  configs:
    topics: standard-eda-bentechdata-workday
    value.converter: io.confluent.connect.avro.AvroConverter
    value.converter.schema.registry.url: <SCHEMA_REGISTRY_URL>
    value.converter.basic.auth.credentials.source: USER_INFO
    value.converter.basic.auth.user.info: "${file:/mnt/secrets/ccloud-sr-credentials/auth.properties:basic.auth.user.info}"
    key.converter: io.confluent.connect.avro.AvroConverter
    key.converter.schema.registry.url: <SCHEMA_REGISTRY_URL>
    key.converter.basic.auth.credentials.source: USER_INFO
    key.converter.basic.auth.user.info: "${file:/mnt/secrets/ccloud-sr-credentials/auth.properties:basic.auth.user.info}"
    content.type: application/xml
    secrets.base.path: /mnt/secrets
    response.topic: standard-eda-bentechdata-workday-response
    error.topic: standard-eda-bentechdata-workday-error
    dlq.topic: standard-eda-bentechdata-workday-dlq
    connector.token.cache.minutes: "60"
    connector.kafka.security.protocol: SASL_SSL
    kafka.bootstrap.servers: <KAFKA_BOOTSTRAP_SERVER>
    schema.registry.url: <SCHEMA_REGISTRY_URL>
    max.retries: "3"
    retry.backoff.ms: "1000"
